<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>

<body>
    <!-- Kindly note that format of the value here is "dd-mm-yy" -->
    <p>Date: <input type="date" class="date" type="text" value="31-12-2016" DateTime.Now.ToString("dd|MM|yyyy", CultureInfo.InvariantCulture)

></p>
    <p>

        <input class="date" type="text" DateTime.Today.ToString ("aaaa-MM-dd")>

    </p>
 

    @*<td>@(((DateTime)Model.Validade).ToString("dd'/'MM'/'yyyy"))</td>*@


</body>

</html>